@{
    ViewData["Title"] = "Index";
}

@model BreadsListViewModel

<h2>Index</h2>

<p>Välkommen till vårt bageri, nedan har du en lista över våra produkter tillgängliga</p>

<div class="row">
    @foreach (var bread in Model.Breads)
    {
        <div class="col-4">
            <div class="thumbnail">
                <img src="@bread.ImageThumbnailUrl" alt="" width="335" height="310">
                <div class="caption">
                    <h3 class="pull-right">@bread.Price.ToString("c")</h3>
                    <h3>
                        <a asp-controller="Bakery" asp-action="Details" asp-route-id="@bread.BreadId">@bread.Name</a>
                    </h3>
                    <p>@bread.ShortDescription</p>
                </div>
            </div>
        </div>
    }
</div>
